<div class="card-body">
  <h1 class="card-title pricing-card-title">4<small class="text-body-secondary fw-light"> Pessoas</small></h1>
  <ul class="list-unstyled mt-3 mb-4">
    <li>Mesa para 4 Pessoas</li>
    <li>Cover (sem custo)</li>
    <li>Area Externa</li>
    <li>Pet Friendly</li>
  </ul>
  <button type="button" class="btnRes">Reserar</button>
</div>

<div class="card-body">
  <h1 class="card-title pricing-card-title">6<small class="text-body-secondary fw-light"> Pessoas</small></h1>
  <ul class="list-unstyled mt-3 mb-4">
    <li>Mesa para 6 Pessoas</li>
    <li>Cover (sem custo)</li>
    <li>Area Interna</li>
    <li>Pet Friendly</li>
  </ul>
  <button type="button" class="btnRes">Reserar</button>
</div>