<div class="col-md-3"> <!-- cardapio-->
  <p>Cardapio</p>
  <strong>
    <p>Entradas:</p>
  </strong>
  <ul>
    <li>Sopa do Dia - R$12,00</li>
    <li>Salada Caesar - R$15,00</li>
    <li>Bruschetta de Tomate e Manjericão - R$18,00</li>
  </ul>

  <strong>
    <p>Pratos Principais:</p>
  </strong>
  <ul>
    <li>Spaghetti à Carbonara - R$25,00</li>
    <li>Filé Mignon Grelhado com Molho de Vinho Tinto - R$32,00</li>
    <li>Risoto de Cogumelos - R$28,00</li>
    <li>Salmão ao Molho de Limão - R$30,00</li>
  </ul>

  <strong>
    <p>Sobremesas:</p>
  </strong>
  <ul>
    <li>Cheesecake de Morango - R$10,00</li>
    <li>Mousse de Chocolate - R$8,00</li>
    <li>Sorvete de Baunilha com Calda de Caramelo - R$9,00</li>
  </ul>

  <strong>
    <p>Bebidas:</p>
  </strong>
  <ul>
    <li>Vinho Tinto (Taça) - R$15,00</li>
    <li>Refrigerantes Variados - R$5,00</li>
    <li>Água Mineral - R$3,00</li>
  </ul>
</div>